body{padding:0;
    margin:0
  }
  .container{
   display: flex;
   height: 100vh;
  }
  .main{
   display: flex;
  
  }
  .header,.footer{
   height: 20vh;
   background: blue
   padding: 15px;
  }
  .artikel, .asside{
   height: 60vh;
   padding: 15px;
  }
  .nav{
   width: 20vh;
   height: 110vh;
   background: yellow;
  }
  .konten{
   width: 100%;
  }
  .artikel{
   width: 70%;
  }
  .asside{
   width: 30%;
   background: green;
  }
  .p15{
   padding: 15px;
  }